/* ==================================
   FONTES LOCAIS - Cinzel & Outfit
   Otimizado para PageSpeed
   ================================== */

/* Cinzel Regular (400) */
@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/cinzel-v26-latin-regular.woff2') format('woff2');
}

/* Cinzel SemiBold (600) */
@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/cinzel-v26-latin-600.woff2') format('woff2');
}

/* Outfit Light (300) */
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/outfit-v15-latin-300.woff2') format('woff2');
}

/* Outfit Regular (400) */
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/outfit-v15-latin-regular.woff2') format('woff2');
}

/* Outfit Medium (500) */
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/outfit-v15-latin-500.woff2') format('woff2');
}

/* Outfit SemiBold (600) */
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/outfit-v15-latin-600.woff2') format('woff2');
}